*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.hrv filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
my_csv/*.csv filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
encoder_hot/** filter=lfs diff=lfs merge=lfs -text
*.plk filter=lfs diff=lfs merge=lfs -text
data/MNIST/raw/train-images-idx3-ubyte filter=lfs diff=lfs merge=lfs -text
test/find_25.csv filter=lfs diff=lfs merge=lfs -text
test/find_35.csv filter=lfs diff=lfs merge=lfs -text
test/find_45.csv filter=lfs diff=lfs merge=lfs -text
test/find_4v.csv filter=lfs diff=lfs merge=lfs -text
test/find_5v.csv filter=lfs diff=lfs merge=lfs -text
test/find_6v.csv filter=lfs diff=lfs merge=lfs -text
test/find.csv filter=lfs diff=lfs merge=lfs -text
test/test.xlsx filter=lfs diff=lfs merge=lfs -text
